<ion-header>
  <ion-toolbar>
    <ion-title class="font1">ข้อมูล</ion-title>
    <ion-buttons slot="start">
        <ion-back-button ></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="Bg">
<br><br><br>

    <div text-center class="font1" >
        <img src="assets\img\logo-wm+.png" width="60px" height="60px">
        <h1>WalkMoneyPlus</h1>
        <h3 text-center>Version 1.0.0 </h3> 
        <h4 text-center>บริษัท มิกซ์โปรแอดวานซ์ จำกัด</h4> 
        <h4> 28/61-62 หมู่ 1 ตำบลบางศรีเมือง อำเภอเมือง จังหวัดนนทบุรี 11000 </h4>
        <h4>โทร. 02-446-3834 -7</h4>
        <h4>LINE : @mixproadvance</h4>
    </div>

</ion-content>
