<ion-header >
  <ion-toolbar class="font1">
    
    <ion-title>ข้อมูล</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <br><br>
 <!--<ion-item (click)="settingservice()" >
    <ion-ripple-effect></ion-ripple-effect>
    <ion-label >
      <h2 class="font1">ตั้งค่าระบบ</h2>
    </ion-label >
  </ion-item>--> 
    <ion-item (click)="about()" >
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label >
          <h2 class="font1">รายละเอียดแอปพลิเคชั่น</h2>
        </ion-label >
      </ion-item>
      <ion-item (click)="logout()">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-label class="font1">
           <h2 class="font1">ออกระบบ</h2> 
          </ion-label>
        </ion-item>
</ion-content>
