.alertDanger{
    background-color: white;
    color: red;
    button{
    color: red;
    }
    
    }
    .md,.ios,.wp {
        page-landing {
          .custom-alertDanger {
            background-color: #F35E5D !important;
            background: #F35E5D  !important;
            color: red !important;
            $alert-md-background-color: #F35E5D;
            $alert-ios-background: #F35E5D;
          }}}