.Card{
 
    width:180px !important;
  height: 180px !important;
  margin:0 auto;
  overflow: hidden !important;
  border-radius: 50% !important;
 border: 1px solid #e6332d !important;
 background-color: #2a73c7 ;
 color: white;
 box-shadow: 5px;
  
}

/*.Bg{
  --background: url(../../assets/img/BG002.jpg) 0 0/100% 100% no-repeat;
 
 }*/