// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.



ion-loading.transparent {
  .loading-wrapper {
    background: transparent;
    box-shadow: none;

    .spinner-crescent circle {
      stroke-width: 15px;
    }
  }
}


.my-custom-modal-css .modal-wrapper {
height:80%;
  width: 95%;
  top: 10%;
  position: absolute; 
  display: block;  
 border-radius: 5px;
}

.alertCF{
  //--background: red;
  //width: 100%;
  text-align: right;
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
  
}
.iontoast{

  .toast-container{
    background:rgb(36, 97, 8);
  }
  
  .toast-md .toast-message{
    color: rgb(253, 251, 251);
  }

}
