


<ion-content padding no-scroll class="font1 Bg"   >
    <br>
    <br>
   
    <div text-center >
        <img src="assets\img\logo-wm+.png" width="60px" height="60px">
    </div>
  
    <h5 text-center margin-vertical style="color: white;font-weight: 500"  *ngIf="pinshow" ><B style="color: rgb(230, 36, 61)">กำหนดพิน 6 หลัก</B></h5>
    <h5 text-center margin-vertical style="color: white;font-weight: 500"  *ngIf="pinconfirm" ><B style="color: rgb(14, 172, 14)">ยืนยันพิน 6 หลัก</B></h5>
    <div text-center large margin-vertical style="color: white">
       <ion-icon [name]="pin.length>0 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>&nbsp;
      <ion-icon [name]="pin.length>1 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>&nbsp;
      <ion-icon [name]="pin.length>2 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>&nbsp;
      <ion-icon [name]="pin.length>3 ? 'radio-button-on' : 'radio-button-off'"></ion-icon> &nbsp;
      <ion-icon [name]="pin.length>4 ? 'radio-button-on' : 'radio-button-off'"></ion-icon> &nbsp;
      <ion-icon [name]="pin.length>5 ? 'radio-button-on' : 'radio-button-off'"></ion-icon> &nbsp;
  <!--   <ion-icon [name]="pin.length>6 ? 'radio-button-on' : 'radio-button-off'"></ion-icon> &nbsp;
      <ion-icon [name]="pin.length>7 ? 'radio-button-on' : 'radio-button-off'"></ion-icon> --> 
      
  
    </div>
  
    <div >
      <ion-grid  text-center >
        <ion-row  >
          <ion-col >
        
            <ion-button style="color: white"   shape="round" fill="outline" class="round-button" (click)="handleInput('1')">1</ion-button>
            
          </ion-col>
          <ion-col>
            <ion-button style="color: white"   shape="round" fill="outline" class="round-button" (click)="handleInput('2')">2</ion-button>
          </ion-col>
          <ion-col>
            <ion-button style="color: white"  shape="round" fill="outline" class="round-button" (click)="handleInput('3')">3</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button style="color: white"   shape="round" fill="outline" class="round-button" (click)="handleInput('4')">4</ion-button>
          </ion-col>
          <ion-col>
            <ion-button style="color: white"   shape="round" fill="outline" class="round-button" (click)="handleInput('5')">5</ion-button>
          </ion-col>
          <ion-col>
            <ion-button style="color: white"   shape="round" fill="outline" class="round-button" (click)="handleInput('6')">6</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button style="color: white"   shape="round" fill="outline" class="round-button" class="round-button" (click)="handleInput('7')">7</ion-button>
          </ion-col>
          <ion-col>
            <ion-button style="color: white"   shape="round" fill="outline" class="round-button" (click)="handleInput('8')">8</ion-button>
          </ion-col>
          <ion-col>
            <ion-button style="color: white"   shape="round" fill="outline" class="round-button" (click)="handleInput('9')">9</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
  
          </ion-col>
          <ion-col>
            <ion-button style="color: white"   shape="round" fill="outline" class="round-button" (click)="handleInput('0')">0</ion-button>
          </ion-col>
          <ion-col>
            <br>
              <ion-icon name="backspace" style="font-size: 50px; color:white;"  (click)="handleInput('clear')"></ion-icon>
          </ion-col>
        </ion-row>
     <!--  <ion-row>
          <ion-col>
             <br>
            
         
            
          </ion-col>
          <ion-col>
  
          </ion-col>
          <ion-col>
     
            <ion-button clear large   fill="outline" class="Bt"  (click)="emitEvent()">ตกลง</ion-button>
          </ion-col>
        </ion-row>-->
      </ion-grid>
    </div>

  </ion-content>