<ion-header>
  <ion-toolbar color="primary" >
      <ion-buttons slot="end" (click)="closeModel()" >
        <ion-icon style="font-size: 30px" name="close"></ion-icon>
        </ion-buttons>
       
    <ion-title class="font1">ชำระหนี้</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="font1 Bg"  >

<div padding>

    <label>
       บริษัท :  {{VFName}}<br>
        รหัสผู้ใช้งาน : {{UserId}}
      </label>
      <hr color="balck">
</div>







<br>


<div >


<ion-slides pager="true"  >
  <ion-slide  *ngFor="let item of DataLoan ; let i = index" (click)='presentAlertPrompt(item.AccountNo,item.MinPayment)'   >
   
      <ion-card  class="card" >
             
          <ion-card-content class="font1">
              <h4  text-left  style="font-size: 20px">เลขที่สัญญา :&nbsp;{{item.AccountNo}} </h4><br>
              <div text-left>
                  &nbsp;   <label style="font-size: 15px"><b>ชื่อ-สกุล:</b>&nbsp;{{item.PersonName}}  </label><br>
                  &nbsp;   <label style="font-size: 15px"><b> ประเภท:</b>&nbsp;{{item.TypeLoanName}}  </label><br>
                  &nbsp;   <label style="font-size: 15px"><b>  ยอดกู้:</b>&nbsp; {{item.TotalAmount|currency:' '}} </label><br>
                  
              </div>
             
                
            
          </ion-card-content>
        </ion-card>
  </ion-slide>


</ion-slides>


</div>
<p   text-center  style="font-size: 14px"  class="font1">ณ วันที่ {{DateToday}} เวลา {{Time}} น.</p>



<br><br>


<ion-input readonly="{{isReadonly}}" style="font-size:22px;color: rgb(33, 95, 8)" class="font1" placeholder="รับเงินเพื่อ ชำระหนี้" text-center  value="{{Payresult|currency:' '}}" ></ion-input>
<!--<h4 text-center>รับเงินเพื่อ ชำระหนี้</h4>-->
<hr color="balck" width=70%>
<p style="font-size: 12px" text-center>ระบบจะส่งหลักฐานทาง SMS</p>


<div padding *ngIf="showbt">
    <ion-button   style="height: 50px;font-size: 19px"   color="primary" expand="block"  (click)="SaveLoan()"   >บันทึก</ion-button>
  
  </div>

 <!-- <ion-slide> <ion-list inset>
      <ion-item *ngFor="let item of DataLoan" (click)="getItem(item.TypeLoanName)">
        {{ item.TypeLoanName }}
      </ion-item>
  </ion-list> </ion-slide>-->

</ion-content>
