// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

.font1{
 font-family: 'Kanit', sans-serif;
}

ion-toolbar{
    --background: var(--ion-color-primary);
    --color:white;
}

ion-tab-button{
//    --color:white;
--background: var(--ion-color-light);
}

.buttoncss{
    color:#e74c3c;
   
    }
    
    .alertcss{
    color:#e74c3c;

    }
    .md,
.ios,
.wp {
  .custom-alert-danger {
    > div {
      background: red; // if you don't use .md, .ios, .mp initially, you'd have to use !important here.
      color: #fff;
      margin-bottom: 10px;
    }
  }
}
